/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:28px;
  }
  .lesson{
    width:50%;
  }
  .lesson p{
    padding-bottom:50px;
  }
  footer{
    text-align:center;
  }
  .abstruct-wrapper h2{
  font-size:28px;
}
.abstruct-wrapper h3{
  font-size:18px;
  font-weight: normal;
}
.heading-info h3{
  font-size:18px;
  font-weight: normal;
}
.abstruct-wrapper p{
  font-size: 14px;
}
.heading-info p{
  font-size: 14px;
}
.heading p{
  font-size: 14px;
}
}


/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
.header-right{
  display:none;
}
 .top-wrapper h1{
    font-size:28px;
  }
   .top-wrapper p{
    font-size:14px;
  }
  .lesson{
    width:100%;
  }
  .btn{
    width:100%;
  }
  .header-left h2{
  font-size: 18px;
}
.heading h2{
  font-size:24px;
}
.abstruct-wrapper h2{
  font-size:24px;
}
.abstruct-wrapper h3{
  font-size:18px;
  font-weight: normal;
}
.heading-info h3{
  font-size:18px;
  font-weight: normal;
}
.abstruct-wrapper p{
  font-size: 14px;
}
.heading-info p{
  font-size: 14px;
}
.heading p{
  font-size: 14px;
}
}

